html {
    box-sizing: border-box;
    font-size: 16px;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}



body {
    width: 1440px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: #E5E5E5;
}

.header-container {
    position: relative;
    display: flex;
    background-color: #E5E5E5;
}

.header-title {
    position: absolute;
    width: 158.09px;
    height: 40px;
    left: 641px;
    top: 5px;
    color: #FFFFFF;
}

.magazine {
    margin-bottom: 338px;
    position: absolute;
    width: 80px;
    height: 21px;
    left: 357px;
    top: 34px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF !important;

}

.about-us {
    position: absolute;
    width: 56px;
    height: 21px;
    left: 465px;
    top: 34px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF !important;


}

.img-login {
    margin-left: 720px;
    position: absolute;
    height: 21px;
    left: 220px;
    top: 34px;
}

.img-cart {
    margin-left: 720px;
    position: absolute;
    height: 21px;
    left: 300px;
    top: 34px;
}

.img-1 {
    position: absolute;
    width: 480px;
    height: 900px;
    left: 0px;
    top: 0px;
}

.img-2 {
    position: absolute;
    width: 480px;
    height: 900px;
    left: 480px;
    top: 0px;
}

.img-3 {
    position: absolute;
    width: 480px;
    height: 900px;
    left: 960px;
    top: 0px;
}