{% load static %}
{% load shop_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strochka</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shop/css/style-about-products.css' %}">

    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</head>
<body>
<div class="container">
    <header class="header">
        <div class="header-container">
            <div class="header-img-wrapper">
                {% for item in content_clothes %}
<!--                <img class="img-1" src="{{ item.photo_1.url }}" alt="">-->
                <img class="img-2" src="{{ item.photo_2.url }}" alt="">
                <img class="img-3" src="{{ item.photo_3.url }}" alt="">
                {% endfor %}
            </div>
            <div id="header-text">
                <a class="magazine" href="{% url 'magazine' %}"
                   style="text-decoration: none; color:#252525;">КАТАЛОГ</a>
                <a class="about-us" href="/" style="text-decoration: none; color:#252525;">О НАС</a>
                <a href="/"><img class="img-login" src="{% static 'shop/images/Vector.png' %}"></a>
                <a href="/"><img class="img-cart" src="{% static 'shop/images/Frame.png' %}"></a>
                <a href="{% url 'home' %}" style="color:#252525;"><h1 class="header-title">STROCHKA</h1></a>
            </div>
        </div>
    </header>
    <main>
        {% for item in content_clothes %}
        <div class="container">
            <div class="name-product">
                <h2>{{ item.name }}</h2>
            </div>
            <div class="info-product">
                <h2><h2>{{ item.description }}</h2></h2>
            </div>
        </div>
        {% endfor %}
    </main>